.App {
  width: 100vw;
  height: 100vh;
  background-color: lightblue;
  padding: 20px;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.todos_single {
  border: 1px solid red;
  background-color: lightblue;
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
}

.todos {
  padding: 10px;
  background-color: white;
  width: 500px;
}
